#main-layout{
    display: flex;
    flex-direction: column;
    height: 780px;
    
}
#top-container{
    flex: 1;
    display: flex;
    flex-direction: row;
   /* background-color:burlywood;*/
    padding: 12px;
    gap: 7px;
    align-content: center;
    justify-content: space-between;
}
.logo{
    flex:1;
    display: flex;
   /* background-color: cadetblue;*/
}
.input{
    flex: 1;
    display: flex;
    flex-direction: row;
}

input{
    width: 525px;
    height: 26;
    font-size:larger;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}
.top-right-container{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
   /* background-color: brown;*/
}
.mic-container{
    flex:1;
    background-color: cornsilk;
}
.upload-video{
    flex: 1;
    background-color: darkkhaki;
}
.more-applications{
    flex: 1;
    background-color: darkseagreen;
}
.profile-details{
    flex: 1;
    background-color: green;
}

#main{
    flex: 15;
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
   
}
.main-left{
    flex: 2;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 5px;
}
.main-left-top{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 5px;
    /*background-color: cadetblue;*/
}
.video-player{
    flex: 3;
    /*background-color: chocolate;*/
}
.video-details{
    flex: 1;
    /*background-color: crimson;*/
}
.main-left-bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}

.main-right{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.right-box{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
    /*background-color: darkcyan;*/
}
.right-box-R{
    flex: 2;
    /*background-color: white;*/
}
.right-box-L{
    flex: 1;
    /*background-color: wheat;*/
}